<template>
  <div>
    <b-navbar toggleable type="dark" variant="info">
      <b-container>
        <b-navbar-brand href="#">Calories tracker</b-navbar-brand>
        <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
        <b-collapse is-nav id="nav_dropdown_collapse">

          <b-navbar-nav>
            <b-nav-item href="#/content/meals">Meals</b-nav-item>
            <b-nav-item href="#/content/users" :disabled="!isUserManagerOrAdmin">Users</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
              <!-- Using button-content slot -->
              <template slot="button-content">
                <em>{{formatUserNameAndRole}}</em>
              </template>
              <b-dropdown-item v-on:click="editProfile()">Profile</b-dropdown-item>
              <router-link to="/entry/login?doLogout=true" tag="b-dropdown-item">Logout</router-link>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>

    <b-container>
      <UserEdit ref="refUserEdit"></UserEdit>
      <router-view/>
    </b-container>

  </div>
</template>

<script>
  import LoginStore from '../store/LoginStore';
  import UserEdit from '../components/UserEdit';

  export default {
    name: 'ContentPage',
    components: {UserEdit},
    data() {
      return {
        setupData: 'These are your setup data',
        loginStore: LoginStore.data
      }
    },
    computed: {
      formatUserNameAndRole() {
        let user = this.loginStore.user;
        return `${user.firstName} ${user.lastName} (${user.role})`;
      },
      isUserManagerOrAdmin() {
        return ['ADMIN', 'USER_MANAGER'].includes(this.loginStore.user.role)
      },
    },
    methods: {
      editProfile() {
        this.$refs.refUserEdit.editUser(this.loginStore.user.id, () => {
          // callback not used
        });
      }
    }
  }
</script>

<style>
  /*.container {*/
    /*max-width: 1200px;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
  /*}*/

</style>
