<template>
  <div>
    <form class="login-register-form" @submit="handleSubmit">
      <div align="center">
        <img class="mb-4" src="../assets/food.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Calories tracker</h1>
      </div>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
             v-model="form.email">

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
             v-model="form.password">

      <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign in</button>

      <router-link to="/entry/register">Register</router-link>
      <br>
      <br>
      <span class="form-danger">{{error}}&nbsp;</span>
    </form>
  </div>
</template>

<script>
  import router from '../router'
  import LoginStore from '../store/LoginStore'
  import ApiStore from '../store/ApiStore'
  import restClientService from '../services/RestClientService'
  import commons from '../services/Commons'
  import jsonschema from 'jsonschema'
  import userSchema from '../schema/UserSchema'

  export default {
    name: 'LoginPage',
    data() {
      return {
        form: {
          email: '',
          password: ''
        },
        error: null,
        submitInProgress: false,
        returnUrl: '',
      }
    },
    watch: {
      'form.email': "clearError",
      'form.password': "clearError",
    },
    beforeMount() {
      // reset login status
      // LoginStore.methods.logoutUser();
    },
    created() {
      // get return url from route parameters or default to '/'
      this.returnUrl = this.$route.query.returnUrl || '/';
      let doLogout = this.$route.query.doLogout || false;
      if (doLogout) {
        restClientService.axios.post(ApiStore.data.api.accountPostLogout, LoginStore.data.refreshToken)
          .then(() => LoginStore.methods.logoutUser())
          .catch(() => LoginStore.methods.logoutUser())
      } else {
        if (LoginStore.methods.isLoggedIn()) {
          router.push(this.returnUrl);
        }
      }
    },
    methods: {
      handleSubmit(evt) {
        evt.preventDefault();
        this.clearError();
        this.submitInProgress = true;

        restClientService.axios.post(ApiStore.data.api.accountPostLogin, this.form)
          .then(response => {
            if (response.data.user && response.data.accessToken && response.data.refreshToken) {
              let validator = new jsonschema.Validator;
              let validatorResult = validator.validate(response.data.user, userSchema);
              if (!validatorResult.valid) {
                this.error = commons.logAndFormatUnexpectedError("User schema validation failed", {
                  responseData: response.data, validatorResult
                })
              } else {
                LoginStore.methods.loginUser(response.data.user, response.data.accessToken, response.data.refreshToken);
                router.push(this.returnUrl);
              }
            } else {
              this.error = commons.logAndFormatUnexpectedError("Access and/or refresh token missing", response.headers);
            }
          })
          .catch(error => {
            if (error.response) {
              let httpStatus = error.response.status;
              let message = error.response.data.message;
              if (httpStatus === 400) {
                this.error = commons.logAndFormatUnexpectedError("Field validation failed", error.response.data)
              } else if (httpStatus === 404 && message === "User not found") {
                this.error = message
              } else if (error.response.status === 401 && message === "Wrong password") {
                this.error = message;
              } else {
                this.error = commons.logAndFormatUnexpectedError("Unknown error", {httpStatus, message})
              }
            } else if (error.request) {
              this.error = commons.logAndFormatUnexpectedError("No response", error.request)
            } else {
              this.error = commons.logAndFormatUnexpectedError('Unknown error', error)
            }
          })
          .then(() => this.submitInProgress)
      },
      clearError() {
        this.error = null;
      }
    },
  }
</script>

<style scoped>

</style>
