<template>
  <div>
    <div>
      <b-modal ref="refMealEditModal" title="Edit meal">
        <MealEdit ref="refMealEdit"></MealEdit>
        <div slot="modal-footer"></div>
      </b-modal>

      <b-row class="my-3">
        <b-col><h2>Meals</h2></b-col>
        <b-col class="right">
          <b-btn variant="primary" v-on:click="addMeal()">Add meal</b-btn>
        </b-col>
      </b-row>

      <div class="filter">
        <b-row>
          <b-col md="6" class="my-1">
            <b-form-group horizontal label="Description:" class="mb-0">
              <b-input-group>
                <b-form-input v-model="filter.description" placeholder="Type to Search"></b-form-input>
              </b-input-group>
            </b-form-group>
          </b-col>

          <b-col md="6" class="my-1" v-if="user.selectable">
            <b-form-group horizontal label="User" class="mb-0">
              <b-form-select :options="user.all" v-model="user.id"></b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row>
          <b-col class="my-1">
            <b-form-group horizontal label="From date:" class="mb-0">
              <b-input-group>
                <datepicker input-class="form-control" :typeable="true" format="yyyy-MM-dd"
                            v-model="filter.fromDate">
                </datepicker>
              </b-input-group>
            </b-form-group>

          </b-col>
          <b-col class="my-1">
            <b-form-group horizontal label="From time:" class="mb-0">
              <b-input-group>
                <b-form-input v-model="filter.fromTime" placeholder="mm:hh" class="time-field"></b-form-input>
              </b-input-group>
            </b-form-group>

          </b-col>
        </b-row>

        <b-row>
          <b-col class="my-1">
            <b-form-group horizontal label="To date:" class="mb-0">
              <b-input-group>
                <datepicker input-class="form-control" :typeable="true" format="yyyy-MM-dd"
                            v-model="filter.toDate">
                </datepicker>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col class="my-1">
            <b-form-group horizontal label="To time:" class="mb-0">
              <b-input-group>
                <b-form-input v-model="filter.toTime" placeholder="mm:hh" class="time-field"></b-form-input>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>

      </div>

      <b-tabs class="mt-4">
        <!-- Add your b-tab components here-->
        <template slot="tabs">
          <b-nav-item :active="!groupByDay" href="#" v-on:click="groupByDay=false">Meals</b-nav-item>
          <b-nav-item :active="groupByDay" href="#" v-on:click="groupByDay=true">Days</b-nav-item>
        </template>
      </b-tabs>


      <b-row class="pt-3">
        <b-col>
          <strong>{{totalElements}}</strong> {{itemLabel}}, <strong>{{totalCalories}}</strong> calories
        </b-col>
        <b-col>
          <b-pagination align="left" size="md"
                        :total-rows="totalElements" v-model="paging.pageNumber" :per-page="paging.pageSize">
          </b-pagination>
        </b-col>
        <b-col>
          <b-form-group horizontal label="Per page" class="mb-0">
            <b-form-select :options="[10, 15, 20, 30, 50, 100, 200, 500]" v-model="paging.pageSize"></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>

      <div v-if="false && state === 'loading'">
        loading ...
      </div>
      <div v-else-if="state === 'error'">
        error loading data
      </div>
      <div v-else>
        <b-table hover no-local-sorting responsive
                 :sort-by.sync="sorting.sortBy" :sort-desc.sync="sorting.sortDesc"
                 :items="pageItems" :fields="fields">
          <template slot="editDelete" slot-scope="data">
            <div class="right">
              <b-btn v-on:click="editMeal(data)" variant="outline-secondary">Edit</b-btn>
              <b-btn v-on:click="deleteMeal(data)" variant="link" class="delete">Delete</b-btn>
            </div>
          </template>
        </b-table>
      </div>
    </div>
  </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import restClientService from "../services/RestClientService"
  import ApiStore from "../store/ApiStore"
  import LoginStore from "../store/LoginStore"
  import strftime from "strftime"
  import sweetAlert from 'sweetalert';
  import {debounce} from 'debounce';
  import MealEdit from "./MealEdit";

  const fieldsSingle = [
    {key: "id", label: "ID"},
    {key: "dateTime", label: "Date and Time", sortable: true},
    {key: "description", label: "Description", sortable: true},
    {key: "calories", label: "Calories", sortable: true},
    {key: "editDelete", label: ""},
  ]

  const fieldsGrouped = [
    {key: "dateTime", label: "Date", sortable: true},
    {key: "count", label: "Count", sortable: true},
    {key: "calories", label: "Total calories", sortable: true},
  ]

  export default {
    name: 'MealsPage',
    components: {MealEdit, Datepicker},
    data() {
      return {
        fields: fieldsSingle,
        paging: {
          pageNumber: 1,
          pageSize: 10,
        },
        sorting: {
          sortBy: "dateTime",
          sortDesc: false,
        },
        filter: {
          description: null,
          fromDate: null,
          toDate: null,
          fromTime: null,
          toTime: null,
        },
        groupByDay: false,
        user: {
          selectable: false,
          id: null,
          all: [],
        },
        state: 'loading',
        meals: null,
        loginStore: LoginStore.data
      }
    },
    watch: {
      'loginStore.user': 'loadMeals',
      'paging.pageNumber': 'loadMeals',
      'paging.pageSize': 'loadMeals',
      'sorting.sortBy': 'loadMeals',
      'sorting.sortDesc': 'loadMeals',
      'filter.description': 'loadMealsDebounce',
      'filter.fromDate': 'loadMealsDebounce',
      'filter.toDate': 'loadMealsDebounce',
      'filter.fromTime': 'loadMealsDebounce',
      'filter.toTime': 'loadMealsDebounce',
      'user.id': 'loadMeals',
      groupByDay: function () {
        this.meals = null
        this.fields = this.groupByDay ? fieldsGrouped : fieldsSingle;
        if (this.groupByDay && this.sorting.sortBy === 'description') {
          this.sorting.sortBy = null;
        }
        if (!this.groupByDay && this.sorting.sortBy === 'count') {
          this.sorting.sortBy = null;
        }
        this.loadMeals();
      }
    },
    computed: {
      itemLabel() {
        return this.groupByDay ? "days" : "meals";
      },
      pageItems() {
        return this.meals === null ? [] : this.meals.page.content.map(this.groupByDay ? this.transformMealGrouped : this.transformMeal);
      },
      totalElements() {
        return this.meals === null ? 0 : this.meals.page.totalElements;
      },
      totalCalories() {
        return this.meals === null ? "n/a" : this.meals.totalCalories;
      },
    },
    methods: {
      addMeal() {
        this.$refs.refMealEdit.editMeal(this.user.id, null, {
            'onOpen': () => this.$refs.refMealEditModal.show(),
            'onCancel': () => this.$refs.refMealEditModal.hide(),
            'onSave': () => {
              this.$refs.refMealEditModal.hide();
              this.loadMeals();
            }
          }
        );
      },
      editMeal(data) {
        this.$refs.refMealEdit.editMeal(this.user.id, data.item.id, {
            'onOpen': () => this.$refs.refMealEditModal.show(),
            'onCancel': () => this.$refs.refMealEditModal.hide(),
            'onSave': () => {
              this.$refs.refMealEditModal.hide();
              this.loadMeals();
            }
          }
        );
      },
      deleteMeal(data) {
        sweetAlert({title: "Delete meal " + data.item.id + " ?", buttons: "Delete", icon: "warning",})
          .then(confirmed => {
            if (confirmed) {
              restClientService.securedRequest("delete", ApiStore.data.api.mealDeleteSingle, {
                userId: this.user.id,
                mealId: data.item.id,
              })
                .then(() => {
                  this.loadMeals()
                  // sweetAlert({title: "Meal was deleted", buttons: "OK"}).then()
                })
                .catch(error => {
                  if (error.response && error.response.status === 404) {
                    this.loadMeals()
                    sweetAlert({title: "Meal was already deleted before", buttons: "OK"}).then()
                  } else {
                    sweetAlert({title: "Error deleting meal", icon: "error", buttons: "OK"}).then()
                  }
                })
                .then()
            }
          })
      },
      isExceeded(key) {
        return this.meals.caloriesStatus[key] === 'EXCEEDED';
      },
      transformMeal(meal) {
        return {
          id: meal.id,
          dateTime: meal.localDate + " " + meal.localTime,
          description: meal.description,
          calories: meal.calories,
          _rowVariant: this.isExceeded(meal.id) ? "danger" : null,
        }
      },
      transformMealGrouped(meal) {
        return {
          dateTime: meal.localDate,
          count: meal.count,
          calories: meal.totalCalories,
          _rowVariant: this.isExceeded(meal.localDate) ? "danger" : null,
        }
      },
      loadMealsDebounce: debounce(function () {
        this.loadMeals();
      }, 500),
      loadMeals() {
        this.state = 'loading';
        restClientService.securedRequest(
          "get",
          this.groupByDay ? ApiStore.data.api.mealGetSearchGrouped : ApiStore.data.api.mealGetSearch,
          {
            userId: this.user.id
          },
          {
            pageNumber: this.paging.pageNumber - 1, // server paging is 0 based
            pageSize: this.paging.pageSize,
            sortColumn: this.sorting.sortBy,
            sortDirection: this.sorting.sortDesc ? "DESC" : "ASC",
            descriptionLike: this.filter.description,
            dateFrom: this.filter.fromDate ? strftime("%F", this.filter.fromDate) : null,
            dateTo: this.filter.toDate ? strftime("%F", this.filter.toDate) : null,
            timeFrom: this.filter.fromTime ? this.safeParseTime(this.filter.fromTime) : null,
            timeTo: this.filter.toTime ? this.safeParseTime(this.filter.toTime) : null,
          }
        )
          .then(response => {
            this.meals = response.data;
            this.state = 'loaded';
          })
          .catch(() => {
            this.state = 'error'
          })
      },
      safeParseTime(time) {
        let timeParts = time ? time.split(":") : [];
        if (timeParts.length === 2) {
          let hh = timeParts[0].trim();
          let mm = timeParts[1].trim();
          if (hh.length === 2 && hh >= 0 && hh <= 23 && mm.length === 2 && mm >= 0 && mm <= 59) {
            return `${hh}:${mm}`;
          }
        }
        return null;
      }
    },
    mounted() {
      let onLoad = (users) => {
        this.user.all = users.map(user => {
          return {value: user.id, text: `${user.firstName} ${user.lastName}`}
        });
        this.user.id = LoginStore.data.user.id;
      }

      if (LoginStore.data.user.role === 'ADMIN') {
        this.user.selectable = true;
        this.user.all = [];
        this.state = 'loading';
        restClientService.securedRequest("get", ApiStore.data.api.userGetAll, {}, {})
          .then(response => onLoad(response.data))
          .catch(() => this.state = 'error')
          .then(() => this.state = 'loaded');
      } else {
        this.user.selectable = false;
        onLoad([LoginStore.data.user])
      }
    }
  }
</script>

<style scoped>
  .time-field {
    max-width: 209px;
  }

  .right {
    text-align: right;
  }

  .filter {
    background-color: #ededed;
    padding: 15px;
  }

  .delete {
    color: #6c757d;
  }

</style>
