<template>
  <div>
    <b-form @submit="onSubmit">
      <b-form-group label="Description:" label-for="inputDescription">
        <b-form-input id="inputDescription" type="text" v-model="form.description" required autofocus
                      placeholder="Enter description">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Time:" label-for="inputLocalTime">
        <b-form-input id="inputLocalTime" type="time" v-model="form.localTime" required placeholder="Enter time">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Date:" label-for="inputLocalDate">
        <b-form-input id="inputLocalDate" type="date" v-model="form.localDate" required placeholder="Enter date">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Calories:" label-for="inputCalories">
        <b-form-input id="inputCalories" type="number" min=0 v-model="form.calories" required
                      placeholder="Enter calories">
        </b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary" :disabled="submitInProgress">Save</b-button>
      <b-button variant="warn" v-on:click="onCancel" :disabled="submitInProgress">Cancel</b-button>
    </b-form>
  </div>
</template>

<script>
  import restClientService from "../services/RestClientService"
  import commons from "../services/Commons"
  import ApiStore from "../store/ApiStore"
  import sweetAlert from 'sweetalert';
  import strftime from "strftime"

  export default {
    name: 'MealEdit',
    data() {
      return {
        submitInProgress: false,
        userId: null,
        mealId: null,
        form: {
          localDate: null,
          localTime: null,
          description: null,
          calories: null
        },
        callbacks: null
      }
    },
    methods: {
      editMeal(userId, mealId, callbacks) {
        this.userId = userId;
        this.mealId = mealId;
        this.callbacks = callbacks;
        if (mealId === null) {
          Object.keys(this.form).forEach(key => this.form[key] = null)
          let now = new Date();
          this.form.localDate = strftime("%F", now);
          this.form.localTime = strftime("%R", now);
          callbacks["onOpen"]()
        } else {
          restClientService.securedRequest("get", ApiStore.data.api.mealGetSingle, {userId, mealId})
            .then(response => {
              this.form = response.data  // TODO: verifySchema
              callbacks["onOpen"]()
            })
            .catch(() => {
              sweetAlert({
                title: "Error loading meal",
                icon: "error",
                buttons: "OK"
              }).then();
            })
        }
      },
      onCancel() {
        this.callbacks["onCancel"]();
      },
      onSubmit(evt) {
        evt.preventDefault();
        this.submitInProgress = true;
        this.form.description = this.form.description.trim()
        let securedRequest = this.mealId === null ?
          restClientService.securedRequest(
            "post", ApiStore.data.api.mealPostSingleAdd,
            {userId: this.userId}, {}, this.form
          ) :
          restClientService.securedRequest(
            "post", ApiStore.data.api.mealPostSingleEdit,
            {userId: this.userId, mealId: this.mealId}, {}, this.form
          );

        securedRequest
          .then(() => this.callbacks["onSave"]())
          .catch(error =>
            sweetAlert({
                title: "Error saving meal", icon: "error", buttons: "OK",
                text: commons.logAndFormatUnexpectedError('Unknown error', error)
              }
            ).then())
          .then(() => this.submitInProgress = false);
      }
    }
  }
</script>

<style>

</style>
