<template>
  <div>
    <form class="login-register-form" @submit="handleSubmit" autocomplete="off">
      <div align="center">
        <img class="mb-4" src="../assets/food.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Calories tracker</h1>
      </div>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
             autofocus
             v-model="form.email">

      <label for="inputFirstName" class="sr-only">First name</label>
      <input type="text" id="inputFirstName" class="form-control" placeholder="First name" required
             autocomplete="nope"
             v-model="form.firstName">

      <label for="inputLastName" class="sr-only">Last name</label>
      <input type="text" id="inputLastName" class="form-control" placeholder="Last name" required
             autocomplete="nope"
             v-model="form.lastName">

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
             autocomplete="new-password"
             v-model="form.password">

      <label for="inputPasswordConfirm" class="sr-only">Confirm password</label>
      <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Confirm password" required
             autocomplete="new-password"
             v-model="form.passwordConfirm">

      <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign up</button>

      <!--  fake fields are a workaround for chrome/opera autofill getting the wrong fields -->
      <!--suppress HtmlFormInputWithoutLabel -->
      <input id="username" style="display:none" type="text" name="fakeusernameremembered">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input id="password" style="display:none" type="password" name="fakepasswordremembered">

      <router-link to="/entry/login">Login</router-link>
      <br>
      <br>
      <span class="form-danger" v-html="error">&nbsp;</span>
    </form>
  </div>
</template>

<script>
  import router from '../router'
  import ApiStore from '../store/ApiStore'
  import restClientService from '../services/RestClientService'
  import commons from '../services/Commons'
  import sweetAlert from 'sweetalert';

  export default {
    name: 'LoginPage',
    data() {
      return {
        form: {
          email: '',
          firstName: '',
          lastName: '',
          password: '',
          passwordConfirm: ''
        },
        error: null,
        submitInProgress: false,
      }
    },
    watch: {
      'form.email': "clearError",
      'form.firstName': "clearError",
      'form.lastName': "clearError",
      'form.password': "clearError",
      'form.passwordConfirm': "clearError",
    },
    beforeMount() {
    },
    created() {
    },
    methods: {
      handleSubmit(evt) {
        evt.preventDefault();
        this.clearError();
        this.form.email = this.form.email.trim()
        this.form.firstName = this.form.firstName.trim()
        this.form.lastName = this.form.lastName.trim()

        if (this.form.password !== this.form.passwordConfirm) {
          this.error = "Passwords do not match";
          return;
        }

        this.submitInProgress = true;
        restClientService.axios.put(ApiStore.data.api.accountPutRegister, this.dataToPost())
          .then(() => {
            sweetAlert({
              text: "You account was created\nPlease log in now.",
              buttons: "OK"
            }).then(router.push("/entry/login"))
          })
          .catch(error => {
            if (error.response) {
              let httpStatus = error.response.status;
              let message = error.response.data.message

              if (error.response && error.response.status === 400 && error.response.data && error.response.data.errors) {
                this.error = error.response.data.errors.map(error => error["defaultMessage"]).join(",").split(",").join("<br>");
              } else if (httpStatus === 400) {
                this.error = commons.logAndFormatUnexpectedError("Field validation failed", error.response.data);
              } else if (httpStatus === 409 && message === "Email already exists") {
                this.error = message
              } else {
                this.error = commons.logAndFormatUnexpectedError("Unknown error", {httpStatus, message})
              }
            } else if (error.request) {
              this.error = commons.logAndFormatUnexpectedError("No response", error.request)
            } else {
              this.error = commons.logAndFormatUnexpectedError('Unknown error', error)
            }
          })
          .then(() => this.submitInProgress)
      },
      clearError() {
        this.error = null;
      },
      dataToPost() {
        return {
          email: this.form.email,
          firstName: this.form.firstName,
          lastName: this.form.lastName,
          password: this.form.password,
        }
      }
    },
  }
</script>

<style scoped>

</style>
