<template>
  <div>
    <b-modal ref="refUserEditModal" title="Edit user">
      <div slot="modal-footer"></div>
      <b-form @submit="onSubmit">
        <b-form-group label="Email:" label-for="inputEmail">
          <b-form-input id="inputEmail" type="text" v-model="data.email" readonly>
          </b-form-input>
        </b-form-group>
        <b-form-group label="First name:" label-for="inputFirstName">
          <b-form-input id="inputFirstName" type="text" v-model="data.firstName" required
                        placeholder="Enter first name">
          </b-form-input>
        </b-form-group>
        <b-form-group label="LastName:" label-for="inputLastName">
          <b-form-input id="inputLastName" type="text" v-model="data.lastName" required
                        placeholder="Enter last name">
          </b-form-input>
        </b-form-group>
        <b-form-group label="Daily calories limit:" label-for="inputDailyCaloriesLimit">
          <b-form-input id="inputDailyCaloriesLimit" type="number" min=0 v-model="data.dailyCaloriesLimit" required
                        placeholder="Enter daily calories limit">
          </b-form-input>
        </b-form-group>
        <b-form-group label="Role:" label-for="inputRole" v-if="isAdmin">
          <b-form-select id="inputRole" v-model="data.role" :options="['USER', 'USER_MANAGER', 'ADMIN']" required>
          </b-form-select>
        </b-form-group>
        <div v-if="isSelf">
          <b-form-group label="CurrentPassword:" label-for="inputCurrentPassword">
            <b-form-input id="inputCurrentPassword" type="password" v-model="passwordChange.currentPassword"
                          autocomplete="off" :required="isChangingPassword">
            </b-form-input>
          </b-form-group>
          <b-form-group label="NewPassword:" label-for="inputNewPassword">
            <b-form-input id="inputNewPassword" type="password" v-model="passwordChange.newPassword"
                          autocomplete="off" :required="isChangingPassword">
            </b-form-input>
          </b-form-group>
          <b-form-group label="NewPasswordConfirmed:" label-for="inputNewPasswordConfirmed">
            <b-form-input id="inputNewPasswordConfirmed" type="password" v-model="passwordChange.newPasswordConfirmed"
                          autocomplete="off" :required="isChangingPassword">
            </b-form-input>
          </b-form-group>
        </div>

        <b-button type="submit" variant="primary" :disabled="submitInProgress">Save</b-button>
        <b-button variant="warn" v-on:click="onCancel" :disabled="submitInProgress">Cancel</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
  import restClientService from "../services/RestClientService"
  import commons from "../services/Commons"
  import ApiStore from "../store/ApiStore"
  import LoginStore from "../store/LoginStore"
  import sweetAlert from 'sweetalert';

  export default {
    name: 'UserEdit',
    data() {
      return {
        isAdmin: false,
        isSelf: false,
        submitInProgress: false,
        userId: null,
        data: {
          email: null,
          firstName: null,
          lastName: null,
          dailyCaloriesLimit: null,
          role: null,
        },
        passwordChange: {
          currentPassword: '',
          newPassword: '',
          newPasswordConfirmed: '',
        },
        onSaveCallback: null
      }
    },
    computed: {
      isChangingPassword() {
        return this.passwordChange.currentPassword !== '' || this.passwordChange.newPassword !== '' || this.passwordChange.newPasswordConfirmed !== '';
      }
    },
    methods: {
      editUser(userId, onSaveCallback) {
        this.isAdmin = LoginStore.data.user.role === 'ADMIN';
        this.isSelf = LoginStore.data.user.id === userId;
        this.userId = userId;
        this.onSaveCallback = onSaveCallback;
        restClientService.securedRequest("get", ApiStore.data.api.userGetSingle, {userId})
          .then(response => {
            this.data = response.data
            Object.keys(this.passwordChange).forEach(key => this.passwordChange[key] = '')
            this.$refs.refUserEditModal.show()
          })
          .catch(() => {
            sweetAlert({title: "Error loading user", icon: "error", buttons: "OK"}).then();
          })
      },
      onCancel() {
        this.$refs.refUserEditModal.hide();
      },
      onSubmit(evt) {
        evt.preventDefault();
        if (this.isChangingPassword) {
          if (this.passwordChange.newPassword !== this.passwordChange.newPasswordConfirmed) {
            sweetAlert({title: "New password mismatch", icon: "error", buttons: "OK"}).then();
            return;
          }
        }
        this.submitInProgress = true;


        restClientService.securedRequest(
          "post", ApiStore.data.api.userPostSingleEdit,
          {userId: this.userId}, {},
          this.dataToPost()
        )
          .then((response) => {
            if (Number.parseInt(this.userId) === LoginStore.data.user.id) {
              LoginStore.data.user = response.data;
            }
            this.$refs.refUserEditModal.hide();
            this.onSaveCallback()
          })
          .catch(error => {
              let errorMessage;
              if (error.response && error.response.status === 400 && error.response.data && error.response.data.errors) {
                errorMessage = error.response.data.errors.map(error => error["defaultMessage"]).join(",").split(",").join("\n");
              } else if (error.response && error.response.status === 401 && error.response.data && error.response.data.message) {
                errorMessage = error.response.data.message;
              } else {
                errorMessage = commons.logAndFormatUnexpectedError('Unknown error', error);
              }
              sweetAlert({
                title: "Error saving user", icon: "error", buttons: "OK",
                text: errorMessage
              }).then()
            }
          )
          .then(() => this.submitInProgress = false);
      },
      dataToPost() {
        return {
          firstName: this.data.firstName.trim(),
          lastName: this.data.lastName.trim(),
          dailyCaloriesLimit: this.data.dailyCaloriesLimit,
          role: this.isAdmin ? this.data.role : null,
          passwordChange: this.isChangingPassword ?
            {
              currentPassword: this.passwordChange.currentPassword.trim(),
              newPassword: this.passwordChange.newPassword.trim(),
            } :
            null
        };
      },
    }
  }
</script>

<style>

</style>
