<template>
  <div>

    <b-row class="my-3">
      <b-col><h2>Users</h2></b-col>
    </b-row>


    <div v-if="state === 'loading'">
      loading ...
    </div>
    <div v-else-if="state === 'error'">
      error loading data
    </div>
    <div v-else>
      <b-table hover responsive
               :items="data" :fields="fields">
        <template slot="role" slot-scope="data">
          <h5><b-badge :variant="roleVariants[data.item.role]">{{data.item.role}}</b-badge></h5>
        </template>
        <template slot="edit" slot-scope="data">
          <b-btn variant="outline-secondary" v-on:click="editUser(data)">Edit</b-btn>
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
  import restClientService from "../services/RestClientService"
  import ApiStore from "../store/ApiStore"
  import UserEdit from "../components/UserEdit"
  import LoginStore from "../store/LoginStore"

  export default {
    name: 'UsersPage',
    components: {UserEdit},
    data() {
      return {
        state: null,
        data: [],
        fields: [
          {key: "id", label: "Id"},
          {key: "email", label: "Email", sortable: true},
          {key: "firstName", label: "First name", sortable: true},
          {key: "lastName", label: "Last name", sortable: true},
          {key: "role", label: "Role", sortable: true},
          {key: "dailyCaloriesLimit", label: "Daily calories limit", sortable: true},
          {key: "edit", label: ""},
        ],
        roleVariants: {
          "USER": "secondary",
          "USER_MANAGER": "warning",
          "ADMIN": "danger",
        },
        loginStore: LoginStore.data,
      }
    },
    watch: {
      'loginStore.user': 'loadUsers',
    },
    mounted() {
      this.loadUsers()
    },
    methods: {
      loadUsers() {
        this.state = 'loading';
        restClientService.securedRequest("get", ApiStore.data.api.userGetAll)
          .then(response => {
            this.data = response.data;
            this.state = 'loaded';
          })
          .catch(() => this.state = 'error')
      },
      editUser(data) {
        // TODO: replace $parent with events
        this.$parent.$refs.refUserEdit.editUser(data.item.id, () => this.loadUsers());
      },
    }
  }
</script>

<style>

</style>
